<?xml version="1.0" encoding="utf-8"?>
<configuration>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup>
  <connectionStrings>
    <add name="DigiphotoEntities" connectionString="metadata=res://*/Model.DigiDataModel.csdl|res://*/Model.DigiDataModel.ssdl|res://*/Model.DigiDataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=TEIS-DB;Initial Catalog=Digiphoto;User ID=webusers;Password=webusers;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient"/>
    <add name="DigiConnectionString" connectionString="Data Source=TEIS-DB;Initial Catalog=Digiphoto;User ID=webusers;Password=webusers;MultipleActiveResultSets=True" providerName="System.Data.EntityClient"/>
  </connectionStrings>
  <appSettings>
    <clear/>
    <add key="TagSavePath" value="G:\RideCapture\"/>
  </appSettings>
</configuration>
